{% extends "base.html" %}

{% block title %} Curso Css {% endblock %}

{% block content %} 
<p>Estamos a dia {{dameFecha}}</p>

<!--inserto a continuacion un video desde youtube-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/ELSm-G201Ls?si=5dOScxZf-dRZa44C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %}